
<header class="main-header">
    <h2>Text passed to partial from view from node: {{headerTitle}} </h2>
    <nav>
        <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>